<h1>edit tournament</h1>
<div class="content-inner">

<%= simple_form_for([:admin, @tournament]) do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.input :category %>
  <%= f.input :description %>
  <%= f.input :rules, as: :text %>
  <%= f.submit "update tournament"%>

<% end %>

<div class="spacer" style="margin-bottom:25px"></div>
<div class="content-inner-inner">
<% if @tournament.active %>
<%= button_to "deactivate tournament", admin_tournament_deactivate_path(@tournament), method: :put %>
<% else %>
  <%= button_to "activate tournament", admin_tournament_activate_path(@tournament), method: :put %>
<% end %>
</div>

</div>
