<h1>New Tournament</h1>
<%= simple_form_for([:admin, @tournament]) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :type, collection: @types %>
    <%= f.input :bracket_type: @bracket_types %>
    <%= f.input :elimination_type: @elimination_type %>
    <%= f.input :rules, as: :text, :input_html => { :rows => "6" } %>
    <%= f.submit "Create Tournament" %>
<% end %>
