<h1>teams</h1>

<% if user_signed_in? %>
    <%= link_to "Create a team", new_team_path, :class => "button" %>
<% end %>

<div class="search-form">
  <%= search_form_for @q_teams,url: teams_path do |f| %>
    <%= f.search_field :name_or_tag_cont, :autocomplete => "off" %>

    <%= f.submit "search" %>
  <% end %>
</div>

<table class="teams-table">
	<tr>
    <th>Name</th>
    <th>Tag</th>
    <th>Tournaments</th>
  </tr>
  <% if @teams.empty? %>
    <tr>
      <td>No results found</td>
      <td></td>
      <td></td>
    </tr>
  <% else %>
    <% @teams.each do |team| %>
      <tr>
        <td><%= link_to team.name, team_path(team) %></td>
        <td><%= team.tag %></td>
        <td>
          <% tournaments = [] %>
          <% team.tournaments.each do |tournament| %>
            <% if tournament.active %>
              <% tournaments << link_to(tournament.name, tournament_path(tournament)) %>
            <% end %>
          <% end %>
          <%= tournaments.join(", ").html_safe %>
        </td>
      </tr>
    <% end %>
    <% end %>
</table>

<div>
  <%= paginate @teams %>
</div>
