<h1><%= "#{@team.name} (#{@team.tag})" %></h1>
<% if user_signed_in? %>
	<% if @user.has_team_permissions?(@team) %>
		<%= link_to "Edit team profile", edit_team_path(@team) %>
	<% end %>
<% end %>

<% if user_signed_in? %>
	<% unless @user.is_team_member?(@team)	%>
		<% if not @user.has_applied? @team %>
			<%= simple_form_for @new_membership, url: memberships_path(@new_membership, team: @team), method: :post do |f| %>
				<%= f.input :join_password, type: :password, autocomplete: 'off' %>
				<%= f.submit "apply to join" %>
			<% end %>
		<% else %>
			<div class="spacer"></div>
			You have applied to this team.
		<% end %>
	<% end %>
<% end %>

<div class="content-inner team-profile">
	<div class="half">
		<div>
			<dl>
				<dt class="faded">team name</dt>
				<dd><%= @team.name %></dd>
				<dt class="faded">team tag</dt>
				<dd><%= @team.tag %></dd>
				<% @team_info.each do |title, value| %>
					<dt class="faded"><%= title %></dt>
					<% if title == "youtube channel"%>
						<dd><%= link_to value, youtube_url(value) %></dd>
					<% elsif title == "twitch channel" %>
						<dd><%= link_to value, twitch_url(value) %></dd>
					<% else %>
						<dd><%= value %></dd>
					<% end %>
				<% end %>
			</dl>
		</div>

		<%= render 'team_roster_values' %>
	</div>
	<div class="half">
		<div class="team-avatar">
			<%= image_tag team_avatar_url(@team) %>
		</div>

		<div class="content-inner-inner">

		</div>

		<div class="content-inner-inner">
			<h1>current tournaments</h1>
				<% if @current_tournaments.empty? %>
					Not currently participating in any tournaments.
				<% else %>
					<% @team.tournament_teams.each do |tt| %>
						<div style="display:inline-block;margin-right:20px;">
							<%=link_to tt.tournament.name, tournament_path(tt.tournament), :class => "outer-heading" %><br />
							<%= link_to "Tournament Roster", tournament_team_path(tt) %>
							<div class="outer-heading">
								<%= tt.wins %> - <%= tt.losses %>
							</div>
						</div>
					<% end %>
				<% end %>
		</div>

	</div>
	<div class="clear"></div>
</div>
