<h1><%= "#{@team.name} (#{@team.tag})" %></h1>
<% if user_signed_in? and current_user.is_team_owner?(@team) %>
	<%= link_to "Edit team profile", edit_team_path(@team) %>
<% end %>

<% if user_signed_in? %>
	<% unless current_user.is_team_owner?(@team) || current_user.is_team_member?(@team)	%>
		<% if not current_user.has_applied? @team %>
			<%= button_to "Apply to team", memberships_path(:team_id => @team.id), :method => 'post' %>
		<% else %>
			<div class="spacer"></div>
			You have applied to this team.
		<% end %>
	<% end %>
<% end %>

<div class="content-inner team-profile">
	<div class="half">
		<div>
			<dl>
				<dt class="faded">team name</dt>
				<dd><%= @team.name %></dd>
				<dt class="faded">team tag</dt>
				<dd><%= @team.tag %></dd>
				<% @team_info.each do |title, value| %>
					<dt class="faded"><%= title %></dt>
					<% if title == "youtube channel"%>
						<dd><%= link_to value, youtube_url(value) %></dd>
					<% elsif title == "twitch channel" %>
						<dd><%= link_to value, twitch_url(value) %></dd>
					<% else %>
						<dd><%= value %></dd>
					<% end %>
				<% end %>
			</dl>
		</div>

		<div class="content-inner-inner">
			<h1>stats</h1>
      <div class="outer-heading">Total record</div>
					<span id="wins_count"><%= @total_wins %></span> - <span id="losses_count"><%= @total_losses %></span> <span id="winning_perc">(<%= "#{@winning_perc}%" %>)</span>
      </dl>
		</div>

		<%= render 'team_roster_values' %>
	</div>
	<div class="half">
		<div class="team-avatar">
			<%= image_tag team_avatar_url(@team) %>
		</div>

		<div class="content-inner-inner">
			<h1>current tournaments</h1>
				<% if @current_tournaments.nil? %>
					Not currently participating in any tournaments.
				<% else %>
					<% @current_tournaments.each do |tourny| %>
						<% ranking = TournamentTeam.where('"tournament_id" = ' + String(tourny.id)).ranking %>
						<% tournament_team =  @team.tournament_teams.find_by_tournament_id(tourny.id) %>
						<% rank = 1 %>
						<% ranking.each do |ranked| %>
							<% if tournament_team.id == ranked.id %>
								<% break %>
							<% end %>
							<% rank = rank + 1 %>
						<% end %>
						<div style="display:inline-block;margin-right:20px;">
							<%=link_to tourny.name, tournament_path(tourny), :class => "outer-heading" %><br />
							<span class="faded">Rank <%= rank %> of <%= ranking.count %></span>

							<div class="outer-heading">
								<%= tournament_team.wins %> - <%= tournament_team.losses %>
							</div>
						</div>
					<% end %>
				<% end %>
		</div>

	</div>
	<div class="clear"></div>
</div>
