<div class="container">

<h1>Team Profile Page</h1>
<h2><%= "#{@team.name} #{@team.tag}" %></h2>
<% if @team.owners.include?(current_user) %>
<h4><%= link_to "Edit Team Profile", edit_team_path(@team) %></h4>
<% end %>

  <div class="row">
    <div class="span4">
    <h2>Roster</h2>
  
    <table class="table table-condensed">
      <tr>
        <th>Member</th>
        <th>Role</th>
        <th>Status</th>
        <th></th>
        <th></th>
      </tr>
      <%= render 'team_roster_values' %>
    </table>
  
  
    <% unless @team.owners.include?(current_user) || @team.members.include?(current_user) %>
      <%= button_to "Apply to Team", memberships_path(:team_id => @team.id), :method => 'post' %>
    <% end %>
  
    </div>
    <div class="span4">
      <h2>Tournaments</h2>
      <dl>
        <% @team.tournaments.each do |tourny| %>
        <dt><%=link_to tourny.name, tournament_rankings_path(tourny) %></dt>
        <dd><%= tourny.description %></dd>
        <% end %>
      </dl>
    </div>
    <div class="span4">
      <h2>Team Stats</h2>
      <dl>
        <dt>Wins</dt>
        <dd id="wins_count"><%= @total_wins %></dd>
        <dt>Losses</dt>
        <dd id="losses_count"><%= @total_losses %></dd>
        <dt>Winning Percentage</dt>
        <dd id="winning_perc"><%= @winning_perc %></dd>
      </dl>
    </div>
  </div>
</div>
