
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<h4><%= link_to "Back", :back %></h4>

<p></p>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :username, :required => true, :autofocus => true%>
    <%= f.input :email, as: :email, :required => true %>
    <%= f.input :gravatar_email, as: :email %>
    <%= f.input :current_password, :required => true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <a id="user-change-password" href="#">Change Password</a>
    <div id="user-profile-change-password">
      <%= f.input :password, :autocomplete => "off", :label => "New password", :required => false %>
      <%= f.input :password_confirmation, :required => false, :label => "New password confirmation" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<p><%= link_to "Delete my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

