<h1>edit tournament teams</h1>
<div class="content-inner">
  <table>
    <tr>
      <th>tournament</th>
      <th>home team (id)</th>
      <th>away team (id)</th>
      <th>week</th>
      <th>match date</th>
      <th>winner_id</th>
    </tr>
    <tr>
      <td><%= @match.tournament.name %></td>
      <td><%= @match.home_team.team.name + " " + @match.home_team.team.tag + " " + "(#{@match.home_team.id})" %></td>
      <td><%= @match.away_team.team.name + " " + @match.away_team.team.tag + " " + "(#{@match.away_team.id})" %></td>
      <td><%= @match.week_num %></td>
      <td><%= @match.standard_date %></td>
      <td><%= @match.winner_id%></td>
    </tr>
  </table>
  <div>
    <%= simple_form_for([:admin, @match]) do |f| %>
      <%= f.error_notification %>

      <%= f.input :home_score %>
      <%= f.input :away_score %>
      <%= f.input :week_num, label: "Week" %>
      <%= f.input :match_date, as: :string, input_html: { class: "datepicker" }%>
      <%= f.input :winner_id, collection: [0, @match.home_team.id, @match.away_team.id] %>
      <%= f.submit "update tournament match"%>
    <% end %>
  </div>

</div>

<script>
  $('.datepicker').datepicker({format: 'yyyy-mm-dd'});
</script>
