<h1>edit tournament teams</h1>
<div class="content-inner">
  <table>
    <tr>
      <th>tournament</th>
      <th>home team (id)</th>
      <th>away team (id)</th>
      <th>week</th>
      <th>match date</th>
      <th>winning team</th>
    </tr>
    <tr>
      <td><%= @match.tournament.name %></td>
      <td><%= @match.home_team.team.name + " " + @match.home_team.team.tag + " " + "(#{@match.home_team.id})" %></td>
      <td><%= @match.away_team.team.name + " " + @match.away_team.team.tag + " " + "(#{@match.away_team.id})" %></td>
      <td><%= @match.week_num %></td>
      <td><%= @match.standard_date %></td>
      <td><%= @match.winning_team.team.name %></td>
    </tr>
  </table>
  <div>
    <%= simple_form_for([:admin, @match]) do |f| %>
      <%= f.error_notification %>

      <%= f.input :home_points %>
      <%= f.input :home_team_round_one %>
      <%= f.input :home_team_round_two %>
      <%= f.input :home_team_round_three %>
      <%= f.input :home_team_differential %>
      <br/>
      <br/>
      <%= f.input :away_points %>
      <%= f.input :away_team_round_one %>
      <%= f.input :away_team_round_two %>
      <%= f.input :away_team_round_three %>
      <%= f.input :away_team_differential %>

      <%= f.input :is_draw %>

      <%= f.input :map_name %>
      <%= f.input :week_num, label: "Week" %>
      <%= f.input :match_date, as: :datetime %>
      <%= f.association :winning_team, collection: [@match.home_team, @match.away_team], label_method: lambda { |c| "#{c.team.name}" }, value_method: :id, incude_blank: 'None' %>

      <%= f.submit "update tournament match"%>
    <% end %>
  </div>
</div>
