<h1>create new match</h1>
<div class="content-inner">

<%= simple_form_for([:admin, @match]) do |f| %>
  <%= f.error_notification %>
  <%= f.input :tournament_id, as: :hidden, value: @tournament.id %>
  <%= f.input :home_team_id, collection: @teams, as: :select, label: "home team" %>
  <%= f.input :away_team_id, collection: @teams, as: :select, label: "away team" %>
  <%= f.input :map_name %>
  <%= f.input :week_num, label: "Week" %>
  <%= f.input :match_date, as: :datetime, label: "Match Date" %>
  <%= f.submit "Add New Match" %>
<% end %>

</div>
