<% @matches.each do |match| %>
	<tr class="match" >
		<td <%= match.home_points > match.away_points ? 'style="background:#556655;"'.html_safe : '' %>><%= link_to match.home_team.team.tag, tournament_match_path(match.tournament, match) %></td>
		<td <%= match.home_points < match.away_points ? 'style="background:#556655;"'.html_safe : '' %>><%= link_to match.away_team.team.tag, tournament_match_path(match.tournament, match) %></td>
		<td><%= match.map_name %></td>
		<td><%= match.home_points %></td>
		<td><%= match.away_points %></td>
		<td><%= match.standard_date %></td>
		<% if user_signed_in? %>
		<% if DateTime.now >= match.match_date && (current_user.has_team_permissions?(match.home_team.team) || current_user.has_team_permissions?(match.away_team.team)) %>
		<td><%= link_to "Report Results", edit_tournament_match_path(match.tournament_id, match.id) %></td>
		<% else %>
		<td></td>
		<% end %>
		<% else %>
		<td></td>
		<% end %>
		<td><%= link_to "View", tournament_match_path(match.tournament_id, match.id) %></td>
	</tr>
<% end %>

<% @bye_matches.each do |match| %>
		<tr class="match" >
		<td <%= match.home_points > match.away_points ? 'style="background:#556655;"'.html_safe : '' %>><%= match.home_team.team.tag %></td>
		<td <%= match.home_points < match.away_points ? 'style="background:#556655;"'.html_safe : '' %>BYE</td>
		<td><%= match.map_name %></td>
		<td><%= match.home_points %></td>
		<td><%= match.away_points %></td>
		<td><%= match.standard_date %></td>
		<td></td>
	</tr>
<% end %>
