<div class="tournament-nav">
  <%= render 'tournament_nav' %>
</div>
<h1>Rankings</h1>
<table class="table">
    <tr>
      <th>Rank</th>
      <th>Team</th>
      <th>Points</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Differential</th>
    </tr>
    <% @teams.each_with_index do |team, x| %>
    <tr id=<%= "rank#{x+1}" %>>
      <td class="rank"><%= x+1 %></td>
      <td class="name"><%= link_to "#{team.team.name} #{team.team.tag}", team_path(team) %></td>
      <td class="points"><%= team.total_points %></td>
      <td class="wins"><%= team.wins %></td>
      <td class="losses"><%= team.losses %></td>
      <td class="diff"><%= team.total_diff %></td>
    </tr>
    <% end %>
</table>


