<h1><%= @tournament.name %></h1>
<div class="content-inner">
	<span class="outer-heading"><%= @tournament.description %></span><br />
	<span class="faded"><%= "#{@tournament.rules}"%></span><br />
	<% if user_signed_in? %>
		<% if @active_tournament_team %>
			<% @active_team = Team.find(@active_tournament_team.team_id) %>
			You are participating in this tournament with <%= link_to @active_team.name, team_path(@active_team) %>.
		<% elsif not @current_user_teams.any? %>
			You can join a team from the rankings below, or <%= link_to "create", new_team_path %> your own team.
		<% else %>
			<div style="float:right;">
				<%=render 'tournament_team/join_tournament_form' %>
			</div>
		<% end %>
	<% end %>
	<div class="spacer"></div>
	<div class="content-inner-inner clear">
		<h1>rankings</h1>
		<% if @teams.any? %>
			<table class="center" cellspacing="0">
					<tr>
						<th>Rank</th>
						<th>Team</th>
						<th>Points</th>
						<th>Wins</th>
						<th>Losses</th>
						<th>Differential</th>
					</tr>
					<% @teams.each_with_index do |team, x| %>
						<tr id=<%= "rank#{x+1}" %>>
							<td class="rank"><%= x+1 %></td>
							<td class="name"><%= link_to "#{team.team.name} #{team.team.tag}", team_path(team.team) %></td>
							<td class="points"><%= team.total_points %></td>
							<td class="wins"><%= team.wins %></td>
							<td class="losses"><%= team.losses %></td>
							<td class="diff"><%= team.total_diff %></td>
						</tr>
					<% end %>
			</table>
		<% else %>
			No teams have joined this tournament yet.
		<% end %>
	</div>

	<div class="content-inner-inner">
		<h1>schedule</h1>
		<% if @matches.empty? %>
			This tournament has not started.
		<% else %>
			<div class="content-inner-inner">
				<div class="weeks">
					<span class="week-label"><%= "week #{@tournament.current_week_num}" %>
				</div>
		<% end %>
				<table class="matches_table center" cellspacing="0">
					<%= render "heading_matches" %>

					<%= render "row_matches" %>
				</table>
			</div>
	</div>
</div>

