<h1><%= @tournament.name %></h1>
<div class="content-inner">

	<span class="outer-heading"><%= @tournament.description %></span><br/>

	<span class="faded"><a id="tournament_rules_link" href="#">Tournament Rules</a></span><br />

<%= render 'tournament_rules_dialog' %>

	<% if user_signed_in? %>
		<% if @active_tournament_team %>
			<% @active_team = Team.find(@active_tournament_team.team_id) %>
			You are participating in this tournament with <%= link_to @active_team.name, team_path(@active_team) %>.
		<% elsif @current_user_teams.nil? %>
			You can join a team shown below, or <%= link_to "create", new_team_path %> your own team.
		<% else %>
			<div style="float:right;">
				<%=render 'tournament_team/join_tournament_form' %>
			</div>
		<% end %>
	<% end %>
	<div class="spacer"></div>

	<% if not @news.empty? %>
	<div class="content-inner-inner clear">
		<h1>news</h1>
		<div class="spacer"></div>
		<%= render('index_news')%>
	</div>
	<% end %>


	<div class="spacer"></div>
		<div class="content-inner-inner clear">
			<h1>teams</h1>
			<ul class="bracket_match">
				<% @teams.each do |team| %>
				<li class="tournament-teams-list">
					<%= image_tag small_team_avatar_url(team.team) %>
					<%= link_to team.team.name + team.team.tag, team_path(team.team) %>
				</li>
				<% end %>
			</ul>
		</div>
	<div class="spacer"></div>

	<div class="content-inner-inner clear">
		<% if @tournament.tournament_type == "Season" %>
			<h1>rankings</h1>
			<%= render 'tournament_rankings' %>
		<% elsif @tournament.tournament_type == "Bracket" && @tournament.challonge_state == "underway" %>
			<h1>bracket</h1>
			<div id="challongeBracket">
				<iframe src=<%= "http://challonge.com/#{@tournament.challonge_url}/module" %> width="95%" height="500" frameborder="0" scrolling="auto" allowtransparency="true"></iframe>
			</div>
		<% end %>
	</div>
	<div class="spacer"></div>
	<div class="content-inner-inner clear">
		<h1>schedule</h1>
		<% if @matches.empty? %>
			This tournament has not started.
		<% else %>
			<div class="content-inner-inner">
				<div class="weeks">
					<span class="week-label"><%= "Week #{@tournament.current_week_num}" %>
				</div>

				<table class="matches_table center" cellspacing="0">
					<%= render "heading_matches" %>

					<%= render "row_matches" %>
				</table>
				<div style="margin-top:30px"><%= link_to "All Matches", tournament_matches_path(@tournament.id), :class => "button" %></div>
			</div>
		<% end %>
	</div>
</div>


