<div class="tournament-nav">
  <%= render 'tournament_nav' %>
</div>
<h1><%= @tournament.name %></h1>
<h3><%= @tournament.description %></h3>
<h5><%= "Rules: #{@tournament.rules}"%></h5>
<% if user_signed_in? %>  
  <% if @has_active_team == true %>
    <p></p>
  <% else %>
    <div>
      <%=render 'tournament_team/join_tournament_form' %>
    </div>
  <% end %>
<% end %>

