<ul class="inline">
  <li>
    <%= link_to "Rankings", tournament_rankings_path(@tournament) %>
  </li>
  <li>
    <%= link_to "All Matches", tournament_matches_path(@tournament) %>
  </li>
  <% if user_signed_in? && current_user.has_role?(:admin) %>
  <li>
    <%= link_to "Create Match", new_tournament_match_path(@tournament)%>
  </li>
  <% end %>
</ul>
<h1><%= @tournament.name %></h1>
<h3><%= @tournament.description %></h3>
<h5><%= "Rules: #{@tournament.rules}"%></h5>
<% if user_signed_in? %>  
  <% if @has_active_team == true %>
    <p></p>
  <% else %>
    <div>
      <%=render 'tournament_team/join_tournament_form' %>
    </div>
  <% end %>
<% end %>

