<% if @teams.length < 1 %>
<div class="join-team">
		<%= link_to "Create", new_team_path %> or
		<%= link_to "join", teams_path %> a team.
</div>
<% else %>
<div class="tournaments-list">
	<% if @tournaments.any? %>
		You are participating in 
		<% num_tournaments = @tournaments.length %>
		<% if num_tournaments == 1 %>
			<% tournament = @tournaments.first %>
			<%= link_to tournament.name, tournament_path(tournament) %>.
		<% else %>
			<% tournaments = [] %>
			<% @tournaments.each_with_index do |tournament, i| %>
				<% if i == num_tournaments - 1 %>
					<% tournaments << 'and ' + link_to(tournament.name, tournament_path(tournament)) + '.' %>
					<% next %>
				<% end %>
				<% tournaments << link_to(tournament.name, tournament_path(tournament)) %>
			<% end %>
			<%= tournaments.join(", ").html_safe %>
		<% end %>
	<% end %>
</div>
<p />
You belong to
  <% num_teams = @teams.length %>
		<% if num_teams == 1 %>
			<% team = @teams.first %>
			<%= link_to team.name, team_path(team) %>.
		<% else %>
			<% teams = [] %>
			<% @teams.each_with_index do |team, i| %>
				<% if i == num_teams - 1 %>
					<% teams << 'and ' + link_to(team.name, team_path(team)) + '.'%>
					<% next %>
				<% end %>
				<% teams << link_to(team.name, team_path(team)) %>
			<% end %>
			<%= teams.join(", ").html_safe %>
		<% end %>
<% end %>
