<h1>members</h1>
<div class="content-inner">

<div class="search-form">
  <%= search_form_for @q, url: user_index_path do |f| %>
    <%= f.search_field :username_or_teams_name_or_teams_tag_cont, :autocomplete => "off" %>

    <%= f.submit "search" %>
  <% end %>
</div>

<table class="users-table">
  <tr>
    <th>Username</th>
		<th>Teams</th>
    <th>Joined</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td>
        <%= link_to user.username, user_path(user) %>
      </td>
      <td>
				<% unless user.teams.nil? %>
					<% teams = [] %>
					<% user.teams.each do |team| %>
						<% teams << link_to(team.name + " " + team.tag, team_path(team)) %>
					<% end %>
					<%= teams.join(", ").html_safe %>
				<% else %>
					<span class="faded">None</span>
				<% end %>
      </td>
			<td>
				<%= user.created_at.strftime("%B %d, %Y") %>
			</td>
    </tr>
  <% end %>
</table>

<div>
  <%= paginate @users %>
</div>

</div>
