<h1><%= "profile for #{@user.username}" %></h1>
<div class="content-inner user-profile">
  <div class="half">
    <dl class="content-inner-inner user-info">
      <h1>info</h1>
      <p class="profile-avatar">
        <%= image_tag big_avatar_url(@user)%>
      </p>
      <dl>
        <dt>User Name:</dt>
        <dd><%= @user.username%></dd>
        <dt>Date Joined:</dt>
        <dd><%= @user.created_at.strftime("%B %d,%Y") %></dd>
        <dt>Last Seen:</dt>
        <dd><%= @user.last_sign_in_at.strftime("%B %d,%Y") unless @user.last_sign_in_at.nil? %></dd>
        <% if user_signed_in? && current_user == @user %>
        <dt><%= link_to "Manage Account", edit_user_registration_path(@user) %></dt>
        <% end %>
      </dl>
    </dl>
  </div>

  <div class="half">
    <dl class="content-inner-inner">
      <h1>teams</h1>
      <% if @user.teams.present? %>
        <% @user.teams.each do |team| %>
          <dd><%= link_to "#{team.name} #{team.tag}", team_path(team) %></dd>
        <% end %>
      <% end %>
    </dl>

    <dl class="content-inner-inner">
      <h1>upcoming matches</h1>
      <% if not @upcoming_matches.nil? %>
      <% @upcoming_matches.each do |match| %>
        <dt><%= match.tournament.name %></dt>
        <% if !match.is_bye %>
        <dd><%= link_to match.home_team.team.name + " vs. " + match.away_team.team.name, tournament_match_path(:tournament_id => match.tournament.id, :id => match.id) %></dd>
        <% else %>
        <dd><%= match.home_team.team.name + " vs. BYE" %></dd>
        <% end %>
      <% end %>
      <% end %>
    </dl>

    <dl class="content-inner-inner">
      <h1>recent matches</h1>
      <% if not @prev_matches.nil? %>
      <% @prev_matches.each do |match| %>
      <dt><%= match.tournament.name %></dt>
      <% if !match.is_bye %>
      <dd><%= link_to match.home_team.team.name + " vs. " + match.away_team.team.name, tournament_match_path(:tournament_id => match.tournament.id, :id => match.id) %></dd>
      <% else %>
        <dd><%= match.home_team.team.name + " vs. BYE" %></dd>
      <% end %>
      <% end %>
      <% end %>
    </dl>

  </div>

  <div class="content-inner-inner comments">
    <div class="comments-inner">
    <h1>recent comments</h1>
      <% if not @comments.nil? %>
        <% @comments.each do |comment| %>
          <% if comment.commentable_type == "News" %>
            <%= link_to comment.commentable.headline, news_path(comment.commentable.id) %>
          <% else %>
            <%= link_to "view match", news_path(comment.commentable.id) %>
          <% end %>
          <%= render :partial => "comment", :locals => { :comment => comment } %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
