<div style="margin-top:30px"><%= link_to "back to tournament", tournament_path(@tournament), :class => "button" %></div>

<h1>All Tournament Matches</h1>
<div class="content-inner">
  <table class="table">
    <tr>
      <th>Home Team</th>
      <th>Away Team</th>
      <th>Week</th>
      <th>Match Date</th>
      <th>Results</th>
    </tr>
    <% @matches.each_with_index do |match, x| %>
    <tr id=<%= "match#{x+1}" %>>
      <td <%= match.home_score > match.away_score ? 'style="background:#556655;"'.html_safe : '' %>><%= link_to match.home_team.team.tag, team_path(match.home_team.team.id) %></td>
      <td <%= match.away_score > match.home_score ? 'style="background:#556655;"'.html_safe : '' %>><%= link_to match.away_team.team.tag, team_path(match.away_team.team.id) %></td>
      <td><%= match.week_num %></td>
      <td><%= match.match_date.in_time_zone("EST").strftime("%a, %b %-d, %-r %Z") %></td>
      <td>
        <%= link_to "Results", tournament_match_path(:tournament_id => @tournament.id, :id => match.id) %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
