<h1><%= "#{@home_team.name} vs. #{@away_team.name}" %></h1>
<a class="outer-heading" href="<%= tournament_path(@tournament) %>"><%= @tournament.name %></a><br />
<%= "Week #{@match.week_num}" %><br /><span class="faded"><%= "#{@match.standard_date}"%></span><br />

<div class="content-inner">
  <table>
    <tr>
      <th>Home Teams</th>
      <th>Home Score</th>
      <th></th>
      <th>Away Team</th>
      <th>Away Score</th>
    </tr>
    <tr>
      <td <%= @match.home_score > @match.away_score ? 'style="background:#556655;"'.html_safe : '' %>><%= link_to @match.home_team.team.tag, team_path(@match.home_team.team.id) %></td>
      <td <%= @match.home_score > @match.away_score ? 'style="background:#556655;"'.html_safe : '' %>><%= @match.home_score %></td>
      <% if @match.winner_id == nil %>
      <% if user_signed_in? && current_user.is_team_owner?(@home_team) || current_user.is_team_owner?(@away_team) %>
        <td><%= link_to "Enter Results", edit_tournament_match_path(@tournament.id, @match) %></td>
      <% end %>
      <% else %>
      <td>vs.</td>
      <% end %>
      <td <%= @match.away_score > @match.home_score ? 'style="background:#556655;"'.html_safe : '' %>><%= link_to @match.away_team.team.tag, team_path(@match.away_team.team.id) %></td>
      <td <%= @match.away_score > @match.home_score ? 'style="background:#556655;"'.html_safe : '' %>><%= @match.away_score %>
      </td>

    </tr>
  </table>

  <div class="content-outer comments" style="width:500px;">
    <div class="content-inner-inner" id="comments">
     <h1>comments</h1>
     <% @comments = @match.comments %>
     <% if @comments.any? %>
     <% @comments.each do |comment| %>
     <%= render :partial => "comment", :locals => { :comment => comment } %>
     <% end %>
     <% else %>
     No comments yet.
     <% end %>
   </div>
 </div>

 <div class="content-outer comments" style="width:500px;">
  <div class="content-inner-inner">
   <h1>submit comment</h1>
   <%= simple_form_for [ @tournament, @match, Comment.new ], :id => :comment do |f| %>
   <%= f.input :content, :label => false, :as => :text, :input_html => { :cols => 50, :rows => 5 } %>
   <%= f.submit "Submit" %>
   <% end %>

 </div>
</div>
</div>
