<h1><%= "#{@home_team.name} vs. #{@away_team.name}" %></h1>
<a class="outer-heading" href="<%= tournament_path(@tournament) %>"><%= @tournament.name %></a><br />
<%= "Week #{@match.week_num}" %><br />
<%= "Map: #{@match.map_name} "%><br />
<span class="faded"><%= "#{@match.standard_date}"%></span><br />


<div class="content-inner">

  <%= render 'match_results_table' %>

  <div>
    <% unless @match.match_screenshots.nil? %>
      <% @match.match_screenshots.each do |ss| %>
        <%= link_to image_tag(ss.image.thumb.url.to_s), ss.image.url.to_s %>
      <% end %>
    <% end %>
  </div>

  <ul>
    <% unless @match.match_demos.nil? %>
      <% @match.match_demos.each do |dm| %>
        <li><%= link_to dm.demo_identifier, dm.demo.url.to_s %></li>
      <% end %>
    <% end %>
  </ul>

  <%= render 'show_comments' %>

  <% if user_signed_in? %>
    <%= render 'submit_match_comment' %>
  <% end %>

  </div>
</div>
