<h1><%= "#{@home_team.name} vs. #{@away_team.name}" %></h1>
<a class="outer-heading" href="<%= tournament_path(@tournament) %>"><%= @tournament.name %></a><br />
<%= "Week #{@match.week_num}" %><br /><span class="faded"><%= "#{@match.standard_date}"%></span><br />

<div class="content-inner">

<%= render 'match_results_table' %>

<%= render 'show_comments' %>

<% if user_signed_in? %>
  <%= render 'submit_match_comment' %>
<% end %>

</div>
</div>
