<div class="tournament-nav">
  <%= render 'tournament_nav' %>
</div>

<h1 class="span8 text-center"><%= "#{@home_team.name} vs. #{@away_team.name}" %></h1>
<h3 class="span8 text-center"><%= "Week: #{@match.week_num} - Match Date: #{@match.match_date.in_time_zone("EST").strftime("%a, %b %-d, %-r %Z")}"%></h3>

<div class="row text-center">
  <div class="span4 home-team">
    <dl>
      <dt class="home-team-tag"><%= @home_team.tag %></dt>
      <dd class="home-team-score"><%= @match.home_score %></dd>
    </dl>
    <% if user_signed_in? && current_user.is_team_owner?(@home_team) %>
      <% if @match.winner_id.nil? %>
        <p class="text_center"><%= link_to "Enter Results",edit_tournament_match_path(@tournament.id, @match) %></p>
      <% end %>
    <% end %>
  </div>
  <div class="span4 away-team">
    <dl>
      <dt class="away-team-tag"><%= @away_team.tag %></dt>
      <dd class="away-team-score"><%= @match.away_score %></dd>
    </dl>
    <% if user_signed_in? &&current_user.is_team_owner?(@away_team) %>
      <% if @match.winner_id.nil? %>
        <p class="text_center"><%= link_to "Enter Results", edit_tournament_match_path(@tournament.id, @match) %></p>
      <% end %>
    <% end %>
  </div>
</div>
