<h1>edit tournament teams</h1>
<div class="content-inner">

<%= simple_form_for([:admin, @team]) do |f| %>
  <%= f.error_notification %>

  <%= f.input :wins %>
  <%= f.input :losses %>
  <%= f.input :total_points %>
  <%= f.input :match_date, as: :date, label: "Match Date #{@match.standard_date}" %>
  <%= f.input :winner_id, collection: [@match.home_team.team.name]
  <%= f.submit "update tournament match"%>
<% end %>

</div>
