<h1>manage user</h1>
<div class="content-inner">
<p>
  <% unless @user.roles.include?(:banned) %>
    <%= link_to "ban", admin_user_ban_path(@user), method: :put, :class => "button" %>
  <% else %>
    <%= link_to "unban", admin_user_unban_path(@user), method: :put, :class => "button" %>
  <% end %>
  <%= link_to "delete", admin_user_path(@user), method: :delete, :class => "button", data: { confirm: "Are you sure?" } %>
</p>
<%= simple_form_for [:admin, @user] do |f| %>
  <%= f.input :username %>
  <%= f.input :email, as: :email %>
  <%= f.input :gravatar_email, as: :email, :autocomplete => :off %>
  <%= f.input :password, as: :password,:autocomplete => :off %>
  <%= f.input :password_confirmation, as: :password, :autocomplete => :off %>
  <p>Current Role: <%= @user_role %></p>
  <%= f.input :roles, label: "Choose Role", collection: [:user, :tournament_admin, :admin], include_blank: false, selected: @user_role %>
  <%= f.submit "Save" %>
<% end %>

<br/>
<br/>

<table>
  <thead>
    <tr>
      <td>Tournament Membership</td>
      <td>Team Name</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% if !@user.tournament_team_memberships.nil? %>
    <% @user.tournament_team_memberships.each do |tm| %>
    <tr>
      <td><%= tm.tournament.name %></td>
      <td><%= link_to tm.tournament_team.team.name, tournament_team_path(tm.tournament_team) %></td>
      <td><%= link_to "Delete", tournament_team_membership_path(tm), method: :delete %></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
</div>
