<% if @news.any? %>
  <% @news.each do |news| %>
  <div class="content-inner-inner">
    <p class="headline"><%= news.headline %></p>

      <p style="font-size:10px">Created at <%= news.created_at %> by <%= news.user.username %></p>

      <p><%= news.description %></p>
      <p><%= link_to "read more...", news_path(news)%></a></p>
  </div>
  <% end %>
  <%= paginate @news %>
<% end %>

