<% @membership.each do |member| %>
	<div style="display:inline-block;margin-right:15px;vertical-align:top;">
		<%= link_to member.user.username, user_path(member.user), :class => "important" %><br />
			<div class="faded" style="font-size:16px;">
				<% if member.active == true %>
				<%= "#{member.role }" %> | active
				<% else %>
					pending
				<% end %>
			</div>
			<!--Checking to see if the current user is a team owner and the member in question is not an owner, that is to say you cant remove or approve an owner-->
			<% if user_signed_in? and current_user.is_team_owner?(@team) && member.role != 'owner' %>
				<% if member.active == false %>
					<%= link_to 'Approve', membership_path(:user_id => member.user.id, :team_id => @team.id,:active => true), :method => 'put', :style => "font-size:12px;margin:0" %><br />
				<% end %>
					<% if member.has_role?(:member) %>
						<%= link_to 'Promote to Captain', membership%>
					<% end %>
					<% if member.has_role?(:captain) %>
						<%= link_to 'Demote to Captain' %>
					<% end %>
					<%= link_to 'Remove', membership_path(:user_id => member.user.id, :team_id => @team.id), :method => 'delete', :style => "font-size:12px;margin:0;padding:0;" %>
			<% end %>
	</div>
<% end %>
