<div class="tournament" id="<%= tournament.id %>">
	<a class="tournament-name" href="<%= tournament_path(tournament.id) %>"><%= tournament.name %></a><br />
	<div class="faded"><%= tournament.description %> / <%= tournament.rules %></div>
</div>
