<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= favicon_link_tag 'ftwlogo.png', :rel => 'shortcut icon', :sizes => '32x32' %>
  <title>FTW Gaming League</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container top-banner">
  <div class="hero-unit">
      <%= image_tag("ftwlogo.png", :alt => "FTW Logo") %>
  </div>
  <%= render 'navbar' %>
</div>

<div class="container">
  <div class="row">
    <div class="span9 home">
      <div class="span8">
      <%= yield %>
      </div>
    </div>
    <div class="span3 side-bar home">
      <% if user_signed_in? %>
        <h2 class="text-center">Your Upcoming Matches</h2>
        <% if @team_tournaments.count == 0 %>
        <h5 class="text-center no-tournaments">You're not participating in any tournaments...</h5>
        <% else %>
        <ul class="unstyled text-center">
        <% @team_tournaments.each do |tournament| %>
          <li><h4><%= link_to tournament.name, tournament_path(tournament) %></h4></li>
            <% if @team_tournament_matches.length < 1 %>
              <li> No upcoming matches </li>
            <% else %>
              <% @team_tournament_matches.each do |match| %>
                <li><%= link_to "#{match.home_team.team.name} vs. #{match.away_team.team.name}", tournament_match_path(tournament.id, match.id) %></li>
              <% end %>
            <% end %>
        <% end %>
        <% end %>
      </ul>
      <% else %>
        <div class="text-center">
          <h3><%= link_to "Register", new_user_registration_path %></h3>
          <h3><%= link_to "Sign In", new_user_session_path %></h3>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class='container'>
  <p class="alert alert-success"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>

</body>
</html>
