<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application" %>
  <%= favicon_link_tag 'ftwlogo.png', :rel => 'shortcut icon', :sizes => '32x32' %>
  <title>FTW Gaming League</title>
  <%= include_gon %>
  <%= csrf_meta_tags %>
	<%= yield :head %>
</head>
<body>

<div class="body-container center">
	<%= link_to root_path do%>
		<%= image_tag("ftwlogo.png", :alt => "FTW Logo", :width => 407, :height => 152) %>
	<% end %>

	  <p class="flash" id="notice"><%= notice %></p>
	  <p class="flash" id="alert"><%= alert %></p>

	<div id="content-main">
		<ul id="nav-main" class="nav">
			<li>
			  <%= link_to 'home', root_path, :class => controller_name == 'home' ? 'nav_link selected' : 'nav_link' %>
			</li>
			<li>
			  <%= link_to 'members', user_index_path, :class => controller_name == 'user' ? 'nav_link selected' : 'nav_link' %>
			</li>
			<li>
			  <%= link_to 'teams', teams_path, :class => controller_name == 'teams' ? 'nav_link selected' : 'nav_link' %>
			</li>
			<li>
			  <%= link_to 'tournaments', tournaments_path, :class => controller_name == 'tournaments' ? 'nav_link selected' : 'nav_link' %>
			</li>
			<% if user_signed_in? and current_user.has_role?(:admin) %>
				<li>
					<%= link_to 'admin', admin_root_path, :class => controller.class.name.split("::").first == "Admin" ? 'nav_link selected' : 'nav_link' %>
				</li>
			<% end %>
		</ul>

		<div class="content-outer">
			<%= yield %>
		</div>
	</div>
	<div id="content-side">
		<ul class="nav">
			<% if user_signed_in? %>
				<li>
					<%= link_to "profile", user_path(current_user), :class => "nav_link" %>
				</li>
				<li>
					<%= link_to "sign out", destroy_user_session_path, :id => "sign_out", :method => 'delete', :class => "nav_link"%>
				</li>
			<% else %>
				<li>
					  <%= link_to "register", new_user_registration_path, :class => controller_name == 'registrations' ? 'nav_link selected' : 'nav_link' %>
				</li>
			<% end %>
		</ul>

		<div class="content-outer">

			  <% if user_signed_in? %>
				<h1 class="text-center">your upcoming matches</h1>
				<div class="content-inner">
					<% if @team_tournaments.count == 0 %>
						You're not participating in any tournaments.
					<% else %>


						<% @team_tournaments.each do |tournament| %>
							<div class="content-inner-inner">
						  <h1><%= link_to tournament.name, tournament_path(tournament) %></h1>
							<% if @team_tournament_matches.empty? %>
							  No upcoming matches
							<% else %>
								<% @team_tournament_matches.each do |match| %>
									<% if match.tournament_id == tournament.id %>
									<%= link_to "#{match.home_team.team.name} vs. #{match.away_team.team.name}", tournament_match_path(tournament.id, match.id) %>
									<div class="faded" style="font-size:16px;"><%= match.standard_date %></div>
									<%end%>
								<% end %>
							<% end %>
							</div>
						<% end %>

					<% end %>

					</div>
			  <% else %>
					<h1>sign in</h1>
					<div class="content-inner">
						<%= simple_form_for(User.new, :namespace => "session", :url => user_session_path) do |f| %>
						  <%= f.input :username, :required => false, :autofocus => true %>
						  <%= f.input :password, :required => false %>
						  <%= f.check_box :remember_me %>
						  <%= f.label :remember_me %><br />
						  <%= f.submit 'Sign in' %><p />
						  <%= link_to "Forgot your password?", new_password_path('user') %>
						<% end %>
					</div>

			  <% end %>
			</div>
		</div>
</div>

</body>
<%= javascript_include_tag "application" %>
</html>
