<div class="content-inner">

  <div>
    <ul style="list-style-type:none">
      <li style="display:inline-block">
        <%= link_to "create new tournament", new_admin_tournament_path, :class => "button" %>
      </li>
      <li style="display:inline-block">
        <%= link_to "view all tournaments", admin_tournaments_path, :class => "button" %>
      </li>
    </ul>
  </div>

  <% @active_tournaments.each do |tourny| %>
  <div class="content-inner-inner">

    <h1><%= link_to tourny.name, tournament_path(tourny) %></h1>
    <ul class="management">
      <li><%= link_to "edit", edit_admin_tournament_path(tourny), id: "edit-tourny-#{tourny.id}" %></li>
      <li><%= link_to "tournament teams", admin_tournament_teams_path(:tournament_id => tourny.id) %></li>
      <li><%= link_to "matches", admin_matches_path(:tournament_id => tourny.id) %></li>

      <% if tourny.tournament_type == "Season" and not tourny.playoffs %>
      <li><%= link_to "set ranks", rankings_admin_tournaments_path(:tournament_id => tourny.id) %></li>
      <% elsif tourny.tournament_type == "Bracket" && tourny.challonge_state == "" %>
      <li><%= link_to "start", admin_tournament_start_bracket_path(:tournament_id => tourny.id), :method => :put %></li>
      <% elsif tourny.tournament_type == "Bracket" && tourny.challonge_state == "underway" || tourny.playoffs == true %>
      <li><%= link_to "update bracket", admin_tournament_bracket_results_path(:tournament_id => tourny.id) %></li>
      <% else tourny.playoffs == true %>
      <li><%= link_to "update bracket", admin_tournament_bracket_results_path(:tournament_id => tourny.id) %></li>
      <% end %>

      <% if tourny.tournament_type == "Season" and not tourny.playoffs %>
      <li><%= link_to "set schedule", schedule_admin_tournaments_path(:tournament_id => tourny.id) %></li>
      <% elsif tourny.tournament_type == "Bracket" && tourny.challonge_state == "underway" %>
      <li><%= link_to "generate matches", admin_tournament_bracket_matches_path(:tournament_id => tourny.id) %></li>
      <% elsif tourny.playoffs %>
      <li><%= link_to "generate playoff matches", admin_tournament_bracket_matches_path(:tournament_id => tourny.id) %></li>
      <% end %>

      <% if tourny.tournament_type == "Season" && tourny.playoffs == false %>
      <li><%= link_to "start playoffs", admin_tournament_playoffs_path(:tournament_id => tourny.id), data: { confirm: "Are you sure that you want to start playoffs?" } %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>
