<div class="content-inner-inner">
  <div class="search-form">
  <%= search_form_for @q_users, url: admin_root_path, remote: true, :method => :get do |f| %>
    <%= f.search_field :username_or_email_cont, :autocomplete => "off" %>
    <a class="search_submit button" href="javascript:void(0);" onclick="$('#users_panel input:submit').click();">search</a>
    <%= f.submit "search", class: "hide" %>
  <% end %>
  </div>


  <div class="content-inner-inner">
    <table>
      <tr>
        <th>username</th>
        <th>email</th>
        <th>last seen</th>
        <th></th>
        <th></th>
      </tr>
      <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user_path(user) %></td>
        <td><%= user.email %></td>
        <% unless user.last_sign_in_at == nil %>
          <td><%= user.last_sign_in_at.strftime("%B %d,%Y") %></td>
        <% else %>
          <td></td>
        <% end %>
        <% if user.banned? %>
          <td>banned</td>
        <% else %>
          <td>active</td>
        <% end %>
        <td><%= link_to "manage", edit_admin_user_path(user), :id => "manage-#{user.username}" %></td>
      </tr>
      <% end %>
    </table>
  </div>
  <div class="pagination">
    <%= paginate @users, :remote => true, :param_name => 'page_1' %>
  </div>
</div>
