<h1>admin</h1>
<div class="content-inner">
	<div class="content-inner-inner">
	<h1>manage users</h1>
		<div id="users_panel" class="content-inner-inner-inner">
		</div>
	</div>
	
	<div class="content-inner-inner">
	<h1>manage tournaments</h1>
		<div id="tournaments_panel" class="content-inner-inner" cellspacing="0">
		</div>
		
		<a href="javascript:void(0);" class="button" id="create_tournament">Create Tournament</a>
	</div>
</div>

<script type="text/template" id="create_match_template">
	<%= simple_form_for([:admin, Tournament.new, Match.new], :url => CGI::unescape(admin_tournament_matches_path("{0}"))) do |f| %>
		<%= f.error_notification %>

		<%= f.input :home_team_id, collection: [], as: :select, label: "Home Team", :class => "teams" %>
		<%= f.input :away_team_id, collection: [], as: :select, label: "Away Team", :class => "teams" %>
		<%= f.input :week_num, label: "Week" %>
		<%= f.input :match_date, as: :date, label: "Match Date" %>
		<%= f.submit "Add New Match" %>
	<% end %>
</script>

<script type="text/template" id="edit_match_template">
	<%= simple_form_for([Tournament.new, Match.new], :html => {:class => "form-horizontal" }, :method => :put, :url => CGI::unescape(admin_tournament_match_path("{0}", "{1}")) ) do |f| %>
		<%= f.error_notification %>
		
		<%= f.input :home_score, label: "Home Team Score" %>
		<%= f.input :away_score, label: "Away Team Score" %>
		
		<%= f.submit "Save" %>
	<% end %>
</script>

<script type="text/template" id="create_tournament_template">
	<%= simple_form_for(Tournament.new, :url => admin_tournaments_path) do |f| %>
			<%= f.input :name %>
			<%= f.input :description %>
			<%= f.input :rules, as: :text, :input_html => { :rows => "6" } %>
			<%= f.submit "Create tournament" %>
	<% end %>
</script>

<script type="text/template" id="destroy_match_template">
	<%= simple_form_for([ Tournament.new, Match.new ], :url => CGI::unescape(admin_tournament_match_path("{0}", "{1}"))) do |f| %>
		You are about to destroy this match. Are you sure? <br />
		<%= f.submit "Destroy" %>
	<% end %>
</script>

<script type="text/template" id="destroy_tournament_template">
	<%= simple_form_for([ Tournament.new ], :url => CGI::unescape(admin_tournament_path("{0}"))) do |f| %>
		You are about to destroy this tournament. Are you sure? <br />
		<%= f.submit "Destroy" %>
	<% end %>
</script>

<script type="text/template" id="edit_tournament_template">
	<%= simple_form_for([ Tournament.new ], :url => CGI::unescape(admin_tournament_path("{0}"))) do |f| %>
		<%= f.input :name %>
		<%= f.input :description %>
		<%= f.input :rules, :as => :text, :input_html => { :rows => "6" } %>
		<%= f.submit "Update tournament" %>
	<% end %>
</script>

<script type="text/template" id="users_table_template">
	<table id="users" class="center" cellspacing="0"></table>
</script>

<script type="text/template" id="users_row_template">
	<tr>
		<td><a href="<%= CGI::unescape user_path("{0}") %>">{1}</a></td>
		<td>{2}</td>
		<td><a href="{3}">{4}</a> <a href="javascript:void(0);" class="editusers" id="{5}">Edit</a></td>
	</tr>
</script>

<script type="text/template" id="users_heading_template">
	<th>Username</th><th>Email</th><th>Actions</th>
</script>

<script type="text/template" id="tournaments_template">
	<div class="tournament" id="{0}">
		<a class="cpanel-tournament-name" href="<%= CGI::unescape(tournament_path("{1}")) %>">{2}</a><br />
		<div class="faded">{3} / {4}</div>
		<a href="javascript:void(0);" class="viewmatches" id="{5}"> Matches</a>
		<a href="javascript:void(0);" class="edittournaments" id="{6}"> Edit</a>
		<a href="javascript:void(0);" class="destroytournaments" id="{7}"> Destroy</a>
	</div>
</script>

<script type="text/template" id="matches_template">
	<div id="{0}" class="content-inner-inner-inner matches">
	</div>
</script>

<script type="text/template" id="matches_table_template">
	<table class="cpanel-matches-table center" id="{0}" cellspacing="0" class="center">
	</table>
</script>

<script type="text/template" id="matches_heading_template">
	<th>Home</th><th>Away</th><th colspan="2">Scores</th><th>Date</th><th>Actions</th>
</script>

<script type="text/template" id="matches_row_template">
	<tr>
		<td>{0}</td>
		<td>{1}</td>
		<td>{2}</td>
		<td>{3}</td>
		<td>{4}</td>
		<td><a href="<%= CGI::unescape(tournament_match_path("{5}", "{6}")) %>"> View</a>
				<a class="editmatches" id="{7}" href="javasript:void(0);"> Edit</a>
				<a class="destroymatches" id="{8}" href="javascript:void(0);"> Destroy</a></td>
	</tr>
</script>

<script type="text/template" id="matches_weeks_template">
	<div class="cpanel-weeks"><span class="cpanel-week-label">{0} </span></div>
</script>

<script type="text/template" id="matches_weeks_button_template">
	<a class="cpanel-week-button" id="{0}" href="javascript:void(0);">{1}</a>
</script>

<script type="text/template" id="loading_template">
	<div class="loading" style="height:100%; width:100%; background:#404040; opacity:.5">
		<div><div id="floatingCirclesG" class="center"><div class="f_circleG" id="frotateG_01"></div>
		<div class="f_circleG" id="frotateG_02"></div>
		<div class="f_circleG" id="frotateG_03"></div>
		<div class="f_circleG" id="frotateG_04"></div>
		<div class="f_circleG" id="frotateG_05"></div>
		<div class="f_circleG" id="frotateG_06"></div>
		<div class="f_circleG" id="frotateG_07"></div>
	<div class="f_circleG" id="frotateG_08"></div></div></div>
</script>

<script type="text/template" id="edit_user_template">
	<%= simple_form_for(User.new, :url => admin_user_path("{0}"), :html => { :method => :put }) do |f| %>
		<%= f.error_notification %>

		<div class="form-inputs">
			<%= f.input :email, :required => true %>

			<%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
			<%= f.input :password_confirmation, :required => false %>
		</div>

		<div class="form-actions">
			<%= f.button :submit, "Update" %>
		</div>
	<% end %>
</script>

<%= content_for :head do %>
	<%= stylesheet_link_tag "loading" %>
	<%= stylesheet_link_tag "cpanel" %>
<% end %>

<%= content_for :js do %>
	<script type="text/javascript">
		var Routes = {
			Admin: {
				users: '<%= admin_users_path %>',
				user: '<%= CGI::unescape admin_user_path("{0}") %>',
				matches: '<%= CGI::unescape(admin_tournament_matches_path("{0}")) %>',
				tournaments: '<%= admin_tournaments_path %>',
				tournament: '<%= CGI::unescape(admin_tournament_path("{0}")) %>',
				match: '<%= CGI::unescape(admin_tournament_match_path("{0}", "{1}")) %>',
				ban: '/admin/users/ban/{0}',
				unban: '/admin/users/unban/{0}'
			},
			User: {
				match: '<%= CGI::unescape(tournament_match_path("{0}", "{1}")) %>'
			}
		}
		var Templates = {
			createMatch: $('#create_match_template').html(),
			editMatch: $("#edit_match_template").html(),
			createTournament: $('#create_tournament_template').html(),
			destroyMatch: $('#destroy_match_template').html(),
			destroyTournament: $('#destroy_tournament_template').html(),
			editTournament: $("#edit_tournament_template").html(),
			loading: $("#loading_template").html(),
			Users: {
				heading: $("#users_heading_template").html(),
				row: $("#users_row_template").html(),
				edit: $("#edit_user_template").html(),
				table: $("#users_table_template").html()
			},
			Tournaments: {
				tournament: $("#tournaments_template").html()
			},
			Matches: {
				matches: $("#matches_template").html(),
				table: $("#matches_table_template").html(),
				row: $("#matches_row_template").html(),
				heading: $("#matches_heading_template").html(),
				weeksButton: $("#matches_weeks_button_template").html(),
				weeks: $("#matches_weeks_template").html()
			}
		};
		var Meta = { //store meta data for teams, tournaments, etc accessible everywhere
			teams: JSON.parse('<%= raw(@teams.to_json) %>')
		}
	</script>
	<%= javascript_include_tag "cpanel" %>
<% end %>